
 .value input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: black;
    margin-left: 10px;
    padding-left: 10px;
    background-attachment: fixed;
    background-color: lightgray;
    background-blend-mode: lighten;
}


.value1 input{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: black;
    margin-left: 10px;
    padding-left: 10px;
} 


.value button{
    width: 120px;
    height: 30px;
    border-radius: 10px; 
    border: black;
    margin-left: 45px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue
}