.navigation .section img{
    width: auto;
    height: auto;
    border-radius: 10px;
}


 .navigation .menu ul{
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: lightgray;
    background-blend-mode: lighten;
    padding-left: 10px;
    
}

.navigation .menu ul a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;

}   

